.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: pink;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: sans-serif;
}
.main-container {
  position: relative;
  text-align: center;
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/116/609/non_2x/pink-violet-free-vector-watercolor-texture.jpg);
  color: white;
  height: 1000px;
  background-size: 100% 100%
}
.main-text {
  position: absolute;
  top: 36%;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 85px;
  color: #E6E6FA;
}
.cursive-text{
  position: absolute;
  top: 52%;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Cookie', cursive;
  font-size: 68px;
  color: powderblue;
}
@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}
/* Result Component */
.result {
  padding: 1.5rem 2.5rem;
}
/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* QuestionCount Component */
.questionCount {
  padding: 1.5rem 2.5rem 0;
  font-size: 20px;
  color: #4B0082;
}
/* Question Component */
.question {
  font-family: 'Montserrat', sans-serif;
  color: #4B0082;
  font-size: 35px;
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}
.quiz-list{
  background-color: #E6E6FA;
  height: 1000px;
  background-size: 100% 100%
}
/* AnswerOption Component */
.answerOption {
  font-family: 'Raleway', sans-serif;
  color: #4B0082;
  font-size: 20px;
  /*border-top: 1px solid #eee;*/
}
.answerOption:hover {
  background-color: #D8BFD8 ;
}
.radioCustomButton {
  position: absolute;
  width: auto;
  opacity: 0;
}
.radioCustomButton,
.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.radioCustomLabel {
  position: center;
  width: 100%;
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem 5rem;

  font-size: 30px;
  line-height: 0.3;
}
.radioCustomButton ~ .radioCustomLabel:before {
  position: absolute;
  top: 20px;
  left: -50px;
  width: 28px;
  height: 28px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 50%;
  transition: all 0.3s;
}
.radioCustomButton:checked ~ .radioCustomLabel:before {
  content: '';
  background: mediumpurple url(https://ibb.co/NLwhDF2) no-repeat;
  background-size: 27px;
  border-color: mediumpurple;
}
/* Animation */
.fade-enter {
  opacity: 0;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}
.fade-leave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}
.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.fade-appear {
  opacity: 0;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.top-font {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 65px;
  color: white;
  width: 700px;
  height: 225px;
}
.button {
  border-radius: 4px;
  background-color: pink;
  border: none;
  color: mintcream;
  text-align: center;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: relative;
  top: 56%;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

.picture{
  width:200px;
  height:200px;
  border-radius: 50%;
}


.pictureContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.sentenceContainer{
}
.productBundle{
  background-image: url(https://i.ibb.co/GRNvHYp/Untitled-design.png);
  height: 1000px;
  background-size: 100% 100%;
}

.productDescriptionOne {
  font-family: 'Raleway', sans-serif;
  color:darkmagenta;
  font-size: 35px;
}

.productDescriptionTwo {
  font-family: 'Raleway', sans-serif;
  color:purple;
  font-size: 18px;
  margin-left: 350px;
  margin-right: 350px;
  font-weight: lighter;
}

.productDescriptionThree {
  font-family: 'Raleway', sans-serif;
  color: purple;
  font-size: 19px;
  margin-left: 350px;
  margin-right: 350px;
}

.nameStyle {
  font-family: 'Raleway', sans-serif;
  color:lavender;
  font-weight: bold;
  font-size: 45px;
  background-color:purple; 
  text-align:center; 
  vertical-align: middle; 
  padding:10px 47px
  /* text-shadow: -1px 0 lavender, 0 1px lavender, 1px 0 lavender, 0 -1px lavender; */
  /* border-style: solid;
  border-width: 2px;
  border-color: lavender; */
}

.otherButton {
  border-radius: 4px;
  background-color: purple;
  border: none;
  color: lavender;
  text-align: center;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: relative;
  top: 56%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

.image {
  width: 400px;
  border-style: solid;
  border-width: 2px;
  border-color:purple;
}

.link{
  color: lavender;
  text-decoration: none;
}

